html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url(https://i.ibb.co/BjxjLLF/background-pokemon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.filter-bar {
    display: flex;
    flex-flow: row nowrap;
}

.drop-down {
    background: #d7f5ef;
    border: 1px solid #000000;
    border-radius: 5px;
}

.order-alphabetically{
    padding-right: 2%;
}

.stack {
    display: flex;
    flex-flow: row wrap;
    margin: 0.5% 7%;  
    justify-content: space-evenly;
}

.pokemon-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background: #EFB9FD;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.97);
}

.pokemon-card:hover {
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
    transform: scale(1.10);
}

.pokemon-number {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A5C0D;;
    width: auto;
    height: auto;
    text-align: center;
    color: #0A5C0D;
}

.pokemon-pic {
    max-width: 90%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.pokemon-image {
    background: linear-gradient(126.38deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5F3F1;
}

.pokemon-name {
    width: auto;
    height: 30px;
    left: 110px;
    top: 504px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: #0A5C0D;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.error-message {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.error-icon {
    width:100%;
    max-width: 64px;
}

.pokemon-info {
    display: block;
}

/* Susana */

.modal-block {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    width:100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 1s;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    display: flex;
    background: #F8DCFF;
    box-sizing: border-box;
    margin: auto;
    border-radius: 50px;
    flex-direction: column;
}

.close{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 90%;
    top: 1%;
}

.closePopup{
    text-decoration: none;
    left: 95%;
}

.hide{
    display: none;}

.modal-pokemon{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    top: -100px;
}

h1{
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0A5C0D;
    justify-content: center;
    text-transform: uppercase;
}

.modal-stats{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5F3F1;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.97);
    border-radius: 15px;
    width:80%;
}

.modal-weakness,.modal-resistance{
    flex-flow: row !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.resist-weak-img {
    width: 13%;
    height: 13%;
    padding: 3px;
    margin:2px;
}

.res-weak {
    width: 100%;
  }

.modal-movesets{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.pokemon-big-name {
    font-size: 2em;
    text-transform: uppercase;
    color: #0A5C0D;
}

.logo-image {
    width: 100%;
    max-width: 200px;
    margin: 5% 23%;
}

.filter-bar { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 8%;
}

.drop-down {
    font-size: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    margin-bottom: 8%;
}

.order-alphabetically {
    margin-left: 8%;
    padding-right: 6%;
}

.search-form { 
    border: 1px solid  #000000;
    margin-bottom: 5%;
}

.search-by-name {
    background-color: #d7f5ef;
    float:left;
    height:37px;
    width:183px;
    padding:.4em 0 .4em .6em;
    border: none; 
}
  
.button-holder {
    background-color:#d7f5ef;
    cursor:pointer;
    float:left;
    height:37px;
    text-align:center;
    width:50px;
    border-width: 2px;
    border-style: none;
}
  
.button-holder img{
    margin:7px;
    width:20px; 
}

.error-message {
    flex-flow: column wrap;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    margin-top: 36%;
}

.stack {
    flex: 0 1 85%; 
    margin: auto;
}

.pokemon-card {
    margin-right: 1%;
    margin-top: 5%;
    flex: 0 1 25%;
}

.pokemon-number {
    width: auto;
    height: auto;
    font-size: 0.8em;
}

.pokemon-image {
    width: 100%;
    height: 50%;
}

.pokemon-name {
    width: auto;
    height: auto;
    font-size: 0.8em;
}

/* Susana */

.modal-section {
    width: 80%;
    height: 70%;
    border: 1.5px solid #000000;
    top:110px;
}

h1{
    margin-block-end: 5em;
}

.modal-pokemon {
    width: 100%;
    height: 30%;
}

.pokemon-big-image{
    width: 150px;
    height: 150px;
}
        

.modal-stats, .modal-movesets {
    width:80%;
    height:45%;
}

.modal-resistance, .modal-weakness{
    width:100%;
    height:30%;
}

/* Desktop screen sizes */

@media only screen and (min-width: 768px){

    .logo-image{
        width: 100%;
        max-width: 300px;
        margin-left: 37.5%;
        margin-top: 2%;
        margin-bottom: 0;
        cursor: pointer;
    }

    .filter-bar {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 8.5%;
        margin-right: 12.5%;
        flex: 0 1 65%;
    }

    .drop-down {
        font-size: 1em;
        padding: 1% 1%;
        margin-bottom: 0;
    }

    .search-form { 
        margin-left: auto;
        margin-bottom: 0;
        height: 40px;
        border: 1px solid  #000000;
    }

    .search-by-name {
        background-color: #d7f5ef;
        float:left;
        height:38px;
        width:183px;
        padding:.4em 0 .4em .6em;
        border: none; 
    }
      
    .button-holder {
        background-color:#d7f5ef;
        cursor:pointer;
        float:left;
        height:38px;
        text-align:center;
        width:50px;
        border-width: 2px;
        border-style: none;
    }
      
    .button-holder img{
        margin:7px;
        width:20px; 
    }

    .order-alphabetically {
        padding-right: 3.5%;
        margin-left: 4%;
    }

    .search {
        height: 90%;
        width: 4%;
        margin-left: 0;
    }

    .error-message {
        flex-flow: row nowrap;
        font-size: 1.5em;
        margin-top: 4%;
    }

    .stack {
        flex: 0 1 80%; 
        margin-left: 8%;
        margin-right: 8%; 
    }

    .pokemon-card {
        margin-right: 4%;
        margin-top: 2%;
        margin-bottom: 4%;
        flex: 0 1 10%;
    }

    .pokemon-number {
        width: 87px;
        height: 30px;
        left: 110px;
        top: 371px;
        line-height: 22px;
        font-size: 1em;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
    }

    .pokemon-image {
        width: 118px;
        height: 78px;
        left: 83px;
        top: 400px;
        background: linear-gradient(126.38deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C5F3F1;
    }

    .pokemon-name {
        height: 30px;
        left: 110px;
        top: 504px;
        font-size: 0.9em;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #333333;
    }

    /* Susana */

    .modal-section {
        width: 33%;
        height:70%;
        border: 2px solid #000000;
    }

    .modal-pokemon {
        width: 100%;
        height: 30%;
    }        

    .modal-stats, .modal-movesets {
        width:80%;
        height:45%;
    }
    
    .modal-resistance, .modal-weakness{
        width:80%;
        height:40%;
    }
}
